* {
  border-collapse: collapse;
  padding: 5px;
  font-family: helvetica;
}

th {
  text-transform: uppercase;
  border: 2px solid black;
  background-color: lightblue;
}

td {
  border: 1px solid black;
  max-width: 20em;
}

.error {
  text-align: center;
  color: red;
  font-size: 3em;
}

#download {
  margin-right: 10em;
}

#description {
  text-align: center;
  padding: 0;
}

h1 {
  margin: 0;
}
